body {
    background: url('https://i.pinimg.com/736x/9c/9e/fa/9c9efa9445fef4f33673caa714cca219.jpg') no-repeat center/cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-attachment: fixed;
    height: 100vh;
}

header {
    background: transparent;
    backdrop-filter: blur(10px);
    color: #ffffff;
    border: 1px solid #ffffff31;
    border-radius: 10px;
    padding: 10px 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.nav-link {
    margin: 4px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.nav-link:hover {
    color: #4189dd;
}

.btn {
    background-color: #4189dd;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    margin: 4px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: 0.4s;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
}

h1 {
    color: #ffffff;
}

.p1 {
    color: #212121;
    font-size: 18px;
    font-weight: 450;
}

.container {
    margin: auto;
    margin-top: 250px;
    text-align: center;
    background: transparent;
    backdrop-filter: blur(10px);
    border: 1px solid #ffffff31;
    width: 25%;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.guess-input {
    appearance: none;
    padding: 10px;
    margin: 4px;
    width: 80%;
    color: #ffffff;
    background: transparent;
    outline: none;
    border: 1px solid #4189dd;
    border-radius: 5px;
    margin-bottom: 20px;
}

.Btn1 {
    padding: 10px;
    margin: 4px;
    background-color: #4189dd;
    backdrop-filter: blur(8px);
    color: #fff;
    font-weight: bold;
    border: 1px solid #4189dd75;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
}

.Btn1:hover {
    background: transparent;
    transform: scale(1.05);
}

.Btn2 {
    padding: 10px;
    margin: 4px;
    background-color: #4189dd;
    color: #fff;
    backdrop-filter: blur(8px);
    font-weight: bold;
    border: 1px solid #4189dd75;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
}

.Btn2:hover {
    background-color: #109d3aa5;
    color: #fff;
    transform: scale(1.05);
}

.attempts {
    margin-top: 30px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff81;
}

input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media screen and (max-width: 600px) {
    .container {
        background-attachment: fixed;
        margin-top: 96px;
        width: 70%;
    }

    body {
        height: 100vh;
    }

    header {
        padding: 10px 7%;
    }

    .nav-link {
        display: none;
    }

    .p1 {
        color: #ffffff;
    }


}